html
{
	margin: 0;
	height: 100%;
	width: 100%;
}
body
{
	height:100%;
	width:100%;
	padding: 0;
	margin: 0;
	font-family: 'arial', sans-serif;
	font-weight: 400;
	background-repeat: repeat-x repeat-y;
	background-image: url('../images/BlackVelvetBackground.png');
}
a
{
	text-decoration: underline;
	font-weight: bold;
	color: #474747;
}
a:hover
{
	text-decoration: none;
	color:#ee1;
}
a.currentPage
{
	color: #000;
}
h1
{
	font-family: serif;
	-webkit-margin-after: 0em;
	-webkit-margin-before: 0em;
	font-weight: 700;
	color: #ececec;
	text-shadow: 2px 2px 1px #8B8B8B, -1px -1px #f4f4f4;
	font-size: 4.2em;
	text-transform: capitalize;
}
h2
{
	font-weight: 700;
	font-size: 2em;
	font-variant: small-caps;
	color: #aaa;
	text-shadow: 2px 2px 1px #eee, -1px -1px 1px #666;
	text-transform: capitalize;
	letter-spacing: .05em;
}
h3
{
    font-weight: bold;
	font-size: 1.5em;
	color: #888;
	text-shadow: 2px 2px 1px #ddd, -1px -1px 1px #555;
	letter-spacing: .05em;	
}
p
{
	font-weight: bold;
	color: #474747;
	text-shadow: 1px 1px #fff;
	text-indent: 2em;
}
ol
{
	-webkit-margin-before: 0em;
	-webkit-margin-after: .1em;
	padding-left: 0px;
}
header
{
	background-color: black;
}
footer
{
	bottom: 0;
	position:absolute;
	height: 2.5em;
	min-width: 100%;
	text-align: center;
	padding-top: 1em;
	font-size: .75em;
	font-weight: 300;
	background-color: black;
}
nav
{
	padding-left: 10%;
	padding-top: 2em;
	z-index: 500;
}
nav li
{
	list-style-type: none;
	display: inline;
	text-transform: uppercase;
	padding-top: 0.6em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: .6em;
	border-radius: 1em;
	margin-left: 0em;
	font-size: 1.2em;
	border-style: groove;
	border-color: #ffd90f;
	border-width: 2px;
	background: #e6b443; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6b443 0%, #c6921a 50%, #ba8918 51%, #b38417 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6b443), color-stop(50%,#c6921a), color-stop(51%,#ba8918), color-stop(100%,#b38417)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b443', endColorstr='#b38417',GradientType=0 ); /* IE6-9 */
}
nav a:hover
{
	background: #b38417; /* Old browsers */
	background: -moz-linear-gradient(top,  #b38417 0%, #ba8918 50%, #c6921a 51%, #e6b443 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,##b38417), color-stop(50%,#ba8918), color-stop(51%,#c6921a), color-stop(100%,#e6b443)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b38417 0%,#ba8918 50%,#c6921a 51%,#e6b443 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b38417 0%,#ba8918 50%,#c6921a 51%,#e6b443 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b38417 0%,#ba8918 50%,#c6921a 51%,#e6b443 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b38417 0%,#ba8918 50%,#c6921a 51%,#e6b443 100%); /* W3C */
	cursor: pointer;
}
nav a
{
	font-family: 'arial', sans-serif;
	color:rgb(240, 240, 10);
	font-weight:700;
}
textarea
{
	resize:initial;
	width:50%;
	height:10em;
}
nav a
{
	font-family: serif;
	color:rgb(240, 240, 10);
	font-weight:700;
	list-style-type: none;
	display: inline-block;
	text-transform: uppercase;
	padding-top: 0.6em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: .6em;
	border-radius: 1em;
	margin-left: 0.5em;
	font-size: 1.2em;
	border-style: groove;
	border-color: #ffd90f;
	border-width: 2px;
	background: #e6b443; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6b443 0%, #c6921a 50%, #ba8918 51%, #b38417 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6b443), color-stop(50%,#c6921a), color-stop(51%,#ba8918), color-stop(100%,#b38417)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6b443 0%,#c6921a 50%,#ba8918 51%,#b38417 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b443', endColorstr='#b38417',GradientType=0 ); /* IE6-9 */
	text-decoration: none;
}
input[type=button]
{
	border-radius: 8px;
	background-color: rgb(0, 0, 185);
	font-weight: bold;
	border-width: 1px;
	background: rgb(184,225,252);
	background: -moz-linear-gradient(top, rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1)));
	background: -webkit-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	background: -o-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	background: linear-gradient(to bottom, rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 );
	background-color: web-kit-gradient();
}
#navThumb
{
	background: url('../images/navThumb.png');
	width: 44px;
	height: 42px;
	display: none;
	margin-bottom: -25px;
	position: relative;
	z-index: 10;
	cursor: pointer;
	-webkit-transition: -webkit-transform 500ms;
}
#headerLogo
{
	margin-top: .5em;
	border:0px;
}
#outerContainer
{
	max-width: 100%;
	min-height: 100%;
	position:relative;
}
#contentRegion
{
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 2.5em;
	padding-top: 1.5em;
	max-width: 85%;
	margin-left: auto;
	margin-right: auto;
}
#logoContainer
{
	height:250px;
	text-align: center;
	border-bottom: ridge;
	border-color: #b0afab; 
}
#missionList li
{
	margin-bottom:1em;
}
.contentContainer
{
	margin-bottom: 2em;
	background-color: #d3d3d3;
	padding: 2em 4em 2em 4em;
	border-radius:16px;
	<!-- Platinum bright: #e3e2e0 Dark: #b0afab-->
	-moz-box-shadow: inset .2em .2em .5em .1em #AAA, 0em 0em .5em .5em rgba(0,0,0,.25), 0em 0em .1em .5em #ffcd1a, inset 0em 0em 10em 5em rgba(225,225,225,.6);
	-webkit-box-shadow: inset .2em .2em .5em .1em #AAA, 0em 0em .5em .5em rgba(0,0,0,.25), 0em 0em .1em .5em #ffcd1a, inset 0em 0em 10em 5em rgba(225,225,225,.6);
	box-shadow: inset .2em .2em .5em .1em #AAA, 0em 0em .5em .5em rgba(0,0,0,.25), 0em 0em .1em .5em #ffcd1a, inset 0em 0em 10em 5em rgba(225,225,225,.6);
}
.twoColumn
{
	column-count:2;
}
.padRight
{
	margin-right:20px;
}
.leftOfText
{
	float: left;
	width: 33%;
	padding-right: 1em;
}
.boardMemberContainer
{
	float:left;
	padding:20px;
	min-width:200px;
	margin-right:20px;
	margin-bottom:20px;
}
.partner
{
	background-color: rgb(255, 255, 255);
	padding:20px;
	margin-bottom:20px;
	border-radius:5px;
}

div.clear {
	height:1px;
	margin-bottom:-1px;
	clear: both;
}
.eventHRule
{
	height: 1px;
	width:100%;
	background-color: #000;
}
.eventLeftSide
{
	width:200px;
	display:inline-block;
	vertical-align: top;
	padding-top:2em;
}
.eventMiddle
{
	max-width: 800px;
	display:inline-block;
}
.eventRightSide
{
	display:inline-block;
	width:200px;
	vertical-align: top;
	padding-top:2em;
}
.eventTitle
{
	font-family: 'arial', sans-serif;
	font-weight: 700;
}
.eventButton
{
	border-radius: 5px;
}

.royalSlider {
  width: 100%;
  height: 300px;
}

.divider
{
	height: 5px;
	background-image: url('../images/divbar.png');
	width:50%;
	position:relative;
	clear:both;
	margin-left: 25%;
}
.center
{
	text-align: center;
}
p.center
{
	text-align: center;
	text-indent: 0em;
}